//SIZES
$media: screen;
$tablet-max: 1194px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 414px;
//FONTS
$font: 'Geometria', sans-serif;
//COLORS
$color-background: #ffffff;
$color-main: #9c1421;
$color-table: #f3f4f6;
$color-icon: #667185;
$color-black: #152831;
$color-grey: #667185;
